.publi{
  margin-top: -7%;
  width: 100%;
  -webkit-box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);

}

.readmore{
   margin-top: -20%;
   margin-left: 58%;
}
