@import url("https://fonts.googleapis.com/css?family=Heebo:800");

.sectionfarma{
    height: 100%;
    overflow-y: hidden;
    font-family: 'Poppins', sans-serif;
   
}

/**********************Part 2***********************/
.slide__title2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  color: #111111be;
  overflow-y: hidden;
}

.slide__title2 .title-line {
  display: block;
  overflow-y: hidden;
}
.slide__title2 .title-line span {
  display: inline-block;
  transform: translate3d(0, 140%, 0);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.8s ease;
}
.slide__title2 .title-line span:nth-child(1) {
  transition-delay: 0.15s;
}
.slide__title2 .title-line span:nth-child(2) {
  transition-delay: 0.3s;
}
.is-active .slide__title2 .title-line span {
  transform: translate3d(0, 0%, 0);
  opacity: 1;
  transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1), opacity 0.1s ease;
}
.is-active .slide__title2 .title-line:nth-of-type(2n) span {
  transition-delay: 0.2s;
}
/*****************************************************/

.arreglo{
  margin-top: 8%;
  margin-left: -52%;
  font-size: 16px;
}

/**********************Part 3***********************/
.slide__title3 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  color: #111111;
  overflow-y: hidden;
}

.slide__title3 .title-line {
  display: block;
  overflow-y: hidden;
}
.slide__title3 .title-line span {
  display: inline-block;
  transform: translate3d(0, 140%, 0);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.8s ease;
}
.slide__title3 .title-line span:nth-child(1) {
  transition-delay: 0.15s;
}
.slide__title3 .title-line span:nth-child(2) {
  transition-delay: 0.3s;
}
.is-active .slide__title3 .title-line span {
  transform: translate3d(0, 0%, 0);
  opacity: 1;
  transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1), opacity 0.1s ease;
}
.is-active .slide__title3 .title-line:nth-of-type(2n) span {
  transition-delay: 0.2s;
}
/*****************************************************/

.arreglo2{
  margin-top: -15%;
  margin-left: 8%;
  font-size: 38px;
}

/**********************Part 4***********************/
.slide__title4 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  color: #006eff;
  overflow-y: hidden;
}

.slide__title4 .title-line {
  display: block;
  overflow-y: hidden;
}
.slide__title4 .title-line span {
  display: inline-block;
  transform: translate3d(0, 140%, 0);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.8s ease;
}
.slide__title4 .title-line span:nth-child(1) {
  transition-delay: 0.15s;
}
.slide__title4 .title-line span:nth-child(2) {
  transition-delay: 0.3s;
}
.is-active .slide__title4 .title-line span {
  transform: translate3d(0, 0%, 0);
  opacity: 1;
  transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1), opacity 0.1s ease;
}
.is-active .slide__title4 .title-line:nth-of-type(2n) span {
  transition-delay: 0.2s;
}
/*****************************************************/

.arreglo3{
  margin-top: -15%;
  margin-left: 1%;
  font-size: 38px;
}

/**********************Part 3***********************/
.slide__title5 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  color: #111111;
  overflow-y: hidden;
}

.slide__title5 .title-line {
  display: block;
  overflow-y: hidden;
}
.slide__title5 .title-line span {
  display: inline-block;
  transform: translate3d(0, 140%, 0);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.8s ease;
}
.slide__title5 .title-line span:nth-child(1) {
  transition-delay: 0.15s;
}
.slide__title5 .title-line span:nth-child(2) {
  transition-delay: 0.3s;
}
.is-active .slide__title5 .title-line span {
  transform: translate3d(0, 0%, 0);
  opacity: 1;
  transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1), opacity 0.1s ease;
}
.is-active .slide__title5 .title-line:nth-of-type(2n) span {
  transition-delay: 0.2s;
}
/*****************************************************/

.arreglo4{
  margin-top: 40%;
  margin-left: -50%;
   width: 15%;
}

.colorar{
  color: #006eff;
}

.slides-nav {
  z-index: 99;
  position: fixed;
  right: -5%;
  display: flex;
  align-items: center;
  height: 100%;
  color: #111111;
}
@media (min-width: 54em) {
  .slides-nav {
    right: 2%;
  }
}
.slides-nav__nav {
  position: relative;
  right: 0;
  display: block;
  font-size: 1em;
  transform: rotate(90deg);
  transform-origin: center;
}
.slides-nav button {
  position: relative;
  display: inline-block;
  padding: 0.35em;
  margin: 0;
  font-family: "Poppins", monospace;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: 0;
  overflow-x: hidden;
  transition: color 0.5s ease;
}
.slides-nav button:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 0;
  background: #111111;
  transition: width 0.4s ease;
}
.slides-nav button:hover {
  cursor: pointer;
  color: rgb(17, 17, 17);
  transition: color 0.5s ease;
}
.slides-nav button:hover:after {
  width: 100%;
  transition: width 0.4s ease;
}
.slides-nav button:focus {
  outline: 0;
}
.is-sliding .slides-nav {
  pointer-events: none;
}

.envsec{
  margin-top: 18.2%;
  margin-left: -58.4%;
  font-family: "Poppins", monospace;
  color: #006eff;
}

.slides {
  position: relative;
  display: block;
  height: 100vh;
  width: 100%;
  background: #fff;
  transition: background 1s cubic-bezier(0.99, 1, 0.92, 1);
}
.is-sliding .slides {
  background: #ededed;
  transition: background 0.3s cubic-bezier(0.99, 1, 0.92, 1);
}

.slide {
  z-index: -1;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  transition: z-index 1s ease;
}
.slide.is-active {
  z-index: 19;
  transition: z-index 1s ease;
}
.slide__content {

  position: relative;
  margin-left: 5%;
  height: 95%;
  width: 100%;
  top: 2.5%;
}
@media (min-width: 54em) {
  .slide__content {
    height: 80%;
    width: 80%;
    top: 10%;
  }
}
.slide__header {
  z-index: 9;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  transform: translateX(5%);
}
@media (min-width: 54em) {
  .slide__header {
    transform: translateX(-5%);
  }
}
.slide__title {
  margin-top: -5%;
  margin-left: 6%;
  font-family: 'Poppins', sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  color: #111;
  overflow-y: hidden;
}
@media (min-width: 54em) {
  .slide__title {
    font-size: 2.7em;
  }
}
.slide__title .title-line {
  display: block;
  overflow-y: hidden;
}
.slide__title .title-line span {
  display: inline-block;
  transform: translate3d(0, 140%, 0);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.8s ease;
}
.slide__title .title-line span:nth-child(1) {
  transition-delay: 0.15s;
}
.slide__title .title-line span:nth-child(2) {
  transition-delay: 0.3s;
}
.is-active .slide__title .title-line span {
  transform: translate3d(0, 0%, 0);
  opacity: 1;
  transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1), opacity 0.1s ease;
}
.is-active .slide__title .title-line:nth-of-type(2n) span {
  transition-delay: 0.2s;
}
.slide__figure {
  z-index: 7;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.is-sliding .slide__figure {
  transform: scale(0.8);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.slide__img {
  position: relative;
  display: block;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;
  -webkit-backface-visibility: hidden;
  height: 0%;
  width: 115%;
  filter: grayscale(0%);
  transition: height 1s 1.4s cubic-bezier(0.19, 1, 0.22, 1), filter 0.4s 0.1s ease;
  -webkit-box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
}
.is-active .slide__img {
  height: 100%;
  opacity: 1;
  transition: height 0.5s 0.3s cubic-bezier(0.77, 0, 0.175, 1), filter 0.4s 0.1s ease;
}
.is-sliding .slide__img {
  filter: grayscale(100%);
}

@media (max-width:858px){
  ul{
    position: fixed;
    z-index: 2;
  }

  .slides{
    z-index: 1;
  }

  .slide__content{
    position: static;
    margin-left: 0px !important;
  }
  .slide__header{
    width: 200% !important;
  }

  .arreglo2, .arreglo3{
display: none;

  }
  .slide__title{
    font-size: 25px;
    
  }

  .slides-nav__nav{
    right: 50px;
    top: 100px
  }

  .arreglo{
    font-size: 20px;
    width: 50%;
    text-align: center;
    margin-left: 0 !important;
    margin-top: -400px;
  }
  .logo-movill img{
    width: 200px;
    z-index: 1;
position:absolute;
margin-top: -430px;
margin-left: 100px;

  }

.cppy{
  margin-top: 120px !important;
}
  .envsec{
    margin-left: -40%;
  }
.slides{
  height: 70vh !important;
}
  .slide__figure{
    height: 60%;
  }

  .social-bar{
    margin-top: 20px !important;
  }

  .social-icons{
    margin-top: -100px !important ;
  }
  
  .col-md-10{
    max-width: 100% !important;
  }
  
  .social-icons a{
    margin: 15px 10px!important; 
  }
}